section{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 100px;
}
section img{
  max-width: 500px;
  float: left;
  filter: inherit;
  margin: 10px 20px 10px 0;
}
section.active{
  filter: invert(1);
  background: #fff;
}
.mode{
  top: 30px;
  left: 90%;
  width: 2.8rem;
  height: 5.8rem;
  position: relative;
  z-index: 1;
  background: url("img/svg/dark.svg") center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
